# OSX
#
.DS_Store

# Xcode
#

*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IJ
#
.idea
.gradle
local.properties

# node.js
#
node_modules/
npm-debug.log

.gradle/2.1/taskArtifacts/*
build/outputs/lint-results.html
build/intermediates/*
android/build
android/app/build/intermediates
android/app/build/generated
android/app/build/outputs/lint*
android/app/build/outputs/logs
androic/app/build/tmp
